<template name="tratamientos">

<!-- ********************** MODAL ELIMINAR TRATAMIENTO *********************-->
<div class="modal" id="modalEliminarTratamiento" role="dialog">									  	
  	<div class="modal-dialog modal-md">										          
      <div class="modal-content">
        <div class="modal-body">
			<div class="panel panel-danger">
			  	<div class="panel-heading">
			  		<button type="button" class="close" data-dismiss="modal">&times;</button>          
			  		<h3>¿Desea eliminar el tratamiento?</h3>
			  	</div>					  	
			  	<div class="panel-body">
			  		<table class="table table-hover">
				  		<thead>
					      <tr>
				          	<th class="col-xs-4"></th>
				          	<th class="col-xs-8"></th>	                    
					      </tr>
					    </thead>				
					    <tbody>
					      <tr>
					      	<td><strong><p>Nombre</p></strong></td>
					      	<td>{{tratamientoEliminar.nombre}}</td>
					      </tr>		    	
					      <tr>
					      	<td><strong><p>Duración</p></strong></td>
					      	<td>{{tratamientoEliminar.duracion}} min</td>
					      </tr>		      						      			      
					    </tbody>	
					</table>  		
			  	
			    
			  	</div>
			</div>
        </div>
        <div class="modal-footer">
          	<button class="_remove btn btn-danger">Eliminar</button>
		    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
</div>

<!-- ********************** MODAL INFO DEL TRATAMIENTO *********************-->
<div class="modal" id="modalTratamientoInfo" role="dialog">									  	
  	<div class="modal-dialog modal-md">										    

      <!-- Modal content-->
      <div class="modal-content">
      	
        
        <div class="modal-body">
			<div class="panel panel-info">
			  	<div class="panel-heading">
			  		<button type="button" class="close" data-dismiss="modal">&times;</button>          
			  		<h3>Información del tratamiento</h3>
			  	</div>					  	
			  	<div class="panel-body">
			  		<table class="table table-hover">
				  		<thead>
					      <tr>
				          	<th class="col-xs-4"></th>
				          	<th class="col-xs-8"></th>	                    
					      </tr>
					    </thead>				
					    <tbody>
					      <tr>
					      	<td><strong><p>Nombre</p></strong></td>
					      	<td>{{tratamientoInfo.nombre}}</td>
					      </tr>		    	
					      <tr>
					      	<td><strong><p>Duración</p></strong></td>
					      	<td>{{tratamientoInfo.duracion}} min</td>
					      </tr>		      	
					      <tr>
					      	<td><strong><p>Importe</p></strong></td>
					      	<td>$ {{tratamientoInfo.importe}}</td>
					      </tr>					      				      
					    </tbody>	
					</table>
			  		<div class="form-group">
					  <label for="usr">Descripcion del tratamiento</label>
					  <textarea disabled class="form-control" rows="5" id="descripcion" value={{tratamientoInfo.descripcion}}></textarea>
					</div>			    
			  	</div>
			</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
</div>

<!-- ******************MODAL EDITAR TRATAMIENTO********************************-->
<div class="modal" id="modalTratamientoEditar" role="dialog">
  	<div class="modal-dialog modal-md">										          
      <div class="modal-content">
        <form class="form" id="formModificarTratamiento">			
        <div class="modal-body">
			<div class="panel panel-warning">
			  	<div class="panel-heading">
			  		<button type="button" class="close" data-dismiss="modal">&times;</button>          
			  		<h3>Editar Tratamiento</h3>
			  	</div>					  	
			  	<div class="panel-body">
				  	<div class="form-group">
					  <label for="usr">Nombre</label>
					  <input type="text" class="form-control" id="nombre" value={{tratamientoEditar.nombre}}>
					</div>
					<div class="form-group">
					  <label for="usr">Duración</label>
					  <input type="text" class="form-control" id="duracion" value={{tratamientoEditar.duracion}}>
					</div>
					<div class="form-group">
					  <label for="usr">Importe</label>
					  <input type="text" class="form-control" id="importe" value={{tratamientoEditar.importe}}>
					</div>					
					<div class="form-group">
					  <label for="usr">Descripcion del tratamiento</label>
					  <textarea class="form-control" rows="5" id="descripcion" value={{tratamientoEditar.descripcion}}></textarea>
					</div>
			  	</div>
			</div>
        </div> 
        <div class="modal-footer">
			<button type="submit" id="submit" class="btn btn-success">Guardar</button>						        	
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		</div>   
		</form>	          
      </div>      
    </div>
</div>

<!--*******************FIN VENTANAS MODALES******************************-->



	<div class="panel panel-success">
	  	<div class="panel-heading"><strong><h3>Lista de tratamientos</h3></strong></div>
	  	<div class="panel-body">		    
		    <div class="col-lg-12">
			    <a class="btn btn-success btn-md" href="{{ pathFor 'tratamiento_form'}}">
					Añadir nuevo tratamiento
				</a>					
		      		{{> EasySearch.Input index=tratamientos attributes=searchAttributes }}
		      		<hr />
	      	</div>			
			<div class="col-lg-12">
				<table class="table table-hover">
					<thead>
				      <tr>
			          	<th class="#80cbc4 teal-text">NOMBRE</th>
			          	<th class="#80cbc4 teal-text">DURACION</th>
	                    <th class="#80cbc4 teal-text">PRECIO</th>	                   
	                    <th class="#80cbc4 teal-text"></th>
				      </tr>
				    </thead>
				    <tbody>
				    	{{#EasySearch.Each index=tratamientos}}	
				      <tr>
				        <td>{{nombre}}</td>
				        <td>{{duracion}} min</td>
				        <td>$ {{importe}}</td>
				        <td>
				        	<span class="right">									
							<a href="#"	class="modalTratamientoInfo btn btn-info btn-xs">Detalle</a>
							<a href="#" class="modalTratamientoEditar btn btn-warning btn-xs">Editar</a>
							<a href="#" class="modalRemoveTratamiento btn btn-danger btn-xs">Eliminar</a>								
							</span>
				        </td>
				      </tr>
				      	{{/EasySearch.Each}}
				    </tbody>	
				</table>						

				{{#EasySearch.IfNoResults index=tratamientos}}
					<p>No hay resultados ...</p>
				{{/EasySearch.IfNoResults}}

				{{#EasySearch.IfSearching index=tratamientos}}
					<p>Buscando ...</p>
				{{/EasySearch.IfSearching}}			
				
				{{>EasySearch.Pagination index=tratamientos}}
			</div>			
		</div>		
	</div>

</template>