<template name="horarios">

<div class="panel panel-success">
	  	<div class="panel-heading"><strong><h3>Horarios del consultorio</h3></strong></div>
	  	<div class="panel-body">		    
		    			
			<div class="col-lg-12">				

				<table class="table table-hover">
					<thead>
				      <tr>
			          	<th class="#80cbc4 teal-text">DIA</th>
			          	<th class="#80cbc4 teal-text">HORARIO MAÑANA</th>
			          	<th class="#80cbc4 teal-text">HORARIO TARDE</th>
	                    <th class="#80cbc4 teal-text">ACCION</th>
				      </tr>
				    </thead>
				    <tbody>
				    	
				      	<tr>
					        <td>Lunes</td>
					        {{#if consultorio.lunes.atiendeManana}}			        
					        	<td>{{formatDate4 consultorio.lunes.mananaInicio}} - {{formatDate4 consultorio.lunes.mananaFin}}</td>
					        {{else}}
					        	<td>CERRADO</td>
					        {{/if}}
					        {{#if consultorio.lunes.atiendeTarde}}			        
					        	<td>{{formatDate4 consultorio.lunes.tardeInicio}} - {{formatDate4 consultorio.lunes.tardeFin}}</td>
					        {{else}}
					        	<td>CERRADO</td>
					        {{/if}}
					        <td>
					        	<span class="right">						        	
					        		<a href="#" class="modalCargarLunes btn btn-success btn-xs">Cambiar</a>											        		
								</span>
					        </td>
					 	</tr>				        
				      	<tr>
					        <td>Martes</td>
					        {{#if consultorio.martes.atiendeManana}}			        
					        	<td>{{formatDate4 consultorio.martes.mananaInicio}} - {{formatDate4 consultorio.martes.mananaFin}}</td>
					        {{else}}
					        	<td>CERRADO</td>
					        {{/if}}
					        {{#if consultorio.martes.atiendeTarde}}			        
					        	<td>{{formatDate4 consultorio.martes.tardeInicio}} - {{formatDate4 consultorio.martes.tardeFin}}</td>
					        {{else}}
					        	<td>CERRADO</td>
					        {{/if}}
					        <td>
					        	<span class="right">						        	
					        		<a href="#" class="modalCargarMartes btn btn-success btn-xs">Cambiar</a>											        		
								</span>
					        </td>
					 	</tr>
				      	<tr>
					        <td>Miércoles</td>
					        {{#if consultorio.miercoles.atiendeManana}}			        
					        	<td>{{formatDate4 consultorio.miercoles.mananaInicio}} - {{formatDate4 consultorio.miercoles.mananaFin}}</td>
					        {{else}}
					        	<td>CERRADO</td>
					        {{/if}}
					        {{#if consultorio.miercoles.atiendeTarde}}			        
					        	<td>{{formatDate4 consultorio.miercoles.tardeInicio}} - {{formatDate4 consultorio.miercoles.tardeFin}}</td>
					        {{else}}
					        	<td>CERRADO</td>
					        {{/if}}
					        <td>
					        	<span class="right">						        	
					        		<a href="#" class="modalCargarMiercoles btn btn-success btn-xs">Cambiar</a>											        		
								</span>
					        </td>				        
				      	</tr>
				      	<tr>
					        <td>Jueves</td>
					        {{#if consultorio.jueves.atiendeManana}}			        
					        	<td>{{formatDate4 consultorio.jueves.mananaInicio}} - {{formatDate4 consultorio.jueves.mananaFin}}</td>
					        {{else}}
					        	<td>CERRADO</td>
					        {{/if}}
					        {{#if consultorio.jueves.atiendeTarde}}			        
					        	<td>{{formatDate4 consultorio.jueves.tardeInicio}} - {{formatDate4 consultorio.jueves.tardeFin}}</td>
					        {{else}}
					        	<td>CERRADO</td>
					        {{/if}}
					        <td>
					        	<span class="right">						        	
					        		<a href="#" class="modalCargarJueves btn btn-success btn-xs">Cambiar</a>											        		
								</span>
					        </td>
					 	</tr>
				      	<tr>
					        <td>Viernes</td>
					        {{#if consultorio.viernes.atiendeManana}}			        
					        	<td>{{formatDate4 consultorio.viernes.mananaInicio}} - {{formatDate4 consultorio.viernes.mananaFin}}</td>
					        {{else}}
					        	<td>CERRADO</td>
					        {{/if}}
					        {{#if consultorio.viernes.atiendeTarde}}			        
					        	<td>{{formatDate4 consultorio.viernes.tardeInicio}} - {{formatDate4 consultorio.viernes.tardeFin}}</td>
					        {{else}}
					        	<td>CERRADO</td>
					        {{/if}}
					        <td>
					        	<span class="right">						        	
					        		<a href="#" class="modalCargarViernes btn btn-success btn-xs">Cambiar</a>											        		
								</span>
					        </td>
					 	</tr>
				      	<tr>
					        <td>Sábado</td>
					        {{#if consultorio.sabado.atiendeManana}}			        
					        	<td>{{formatDate4 consultorio.sabado.mananaInicio}} - {{formatDate4 consultorio.sabado.mananaFin}}</td>
					        {{else}}
					        	<td>CERRADO</td>
					        {{/if}}
					        {{#if consultorio.sabado.atiendeTarde}}			        
					        	<td>{{formatDate4 consultorio.sabado.tardeInicio}} - {{formatDate4 consultorio.sabado.tardeFin}}</td>
					        {{else}}
					        	<td>CERRADO</td>
					        {{/if}}
					        <td>
					        	<span class="right">						        	
					        		<a href="#" class="modalCargarSabado btn btn-success btn-xs">Cambiar</a>											        		
								</span>
					        </td>
					 	</tr>
				      	<tr>
					        <td>Domingo</td>
					        {{#if consultorio.domingo.atiendeManana}}			        
					        	<td>{{formatDate4 consultorio.domingo.mananaInicio}} - {{formatDate4 consultorio.domingo.mananaFin}}</td>
					        {{else}}
					        	<td>CERRADO</td>
					        {{/if}}
					        {{#if consultorio.domingo.atiendeTarde}}			        
					        	<td>{{formatDate4 consultorio.domingo.tardeInicio}} - {{formatDate4 consultorio.domingo.tardeFin}}</td>
					        {{else}}
					        	<td>CERRADO</td>
					        {{/if}}
					        <td>
					        	<span class="right">						        	
					        		<a href="#" class="modalCargarDomingo btn btn-success btn-xs">Cambiar</a>											        		
								</span>
					        </td>
					 	</tr>
				     

				      	
				    </tbody>	
				</table>						

				
			</div>			
		</div>		
</div>

<!-- ******************MODAL EDITAR HORARIO LUNES********************************-->
<div class="modal" id="modalCargarLunes" role="dialog">
  	<div class="modal-dialog modal-md">	
      <!-- Modal content-->
      <div class="modal-content">
        <form class="form" id="formCargarLunes">			
	        <div class="modal-body">			
				  	<div class="panel-body">			  		
				  		<div class="row">
							<div class="panel panel-default">	
						    <div class="panel-heading"><label class="checkbox-inline"><input type="checkbox" id="trabajaMananaLunes"><strong>¿Trabaja de mañana?</strong> </label></div>
						    
						    <div class="panel-body">
						      	<input type="text" id="rangoMananaLunes"/>					        
							</div>
							
							</div>								      		
						</div>

						<div class="row">
							<div class="panel panel-default">
						    <div class="panel-heading"><label class="checkbox-inline"><input type="checkbox" id="trabajaTardeLunes"><strong>¿Trabaja de tarde?</strong> </label></div>
						    <div class="panel-body">
						    	<input type="text" id="rangoTardeLunes"/>					      	
							</div>
							</div>								      		
						</div>					  			
				  	</div>
	        </div> 
	        <div class="modal-footer">
				<button type="submit" id="submit" class="btn btn-success">Guardar</button>						        	
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>   
		</form>	           
      </div>      
    </div>
</div>

<!-- ******************MODAL EDITAR HORARIO MARTES********************************-->
<div class="modal" id="modalCargarMartes" role="dialog">
  	<div class="modal-dialog modal-md">	
      <!-- Modal content-->
      <div class="modal-content">
        <form class="form" id="formCargarMartes">			
	        <div class="modal-body">			
				  	<div class="panel-body">			  		
				  		<div class="row">
							<div class="panel panel-default">	
						    <div class="panel-heading"><label class="checkbox-inline"><input type="checkbox" id="trabajaMananaMartes"><strong>¿Trabaja de mañana?</strong> </label></div>
						    
						    <div class="panel-body">
						      	<input type="text" id="rangoMananaMartes"/>					        
							</div>
							
							</div>								      		
						</div>

						<div class="row">
							<div class="panel panel-default">
						    <div class="panel-heading"><label class="checkbox-inline"><input type="checkbox" id="trabajaTardeMartes"><strong>¿Trabaja de tarde?</strong> </label></div>
						    <div class="panel-body">
						    	<input type="text" id="rangoTardeMartes"/>					      	
							</div>
							</div>								      		
						</div>					  			
				  	</div>
	        </div> 
	        <div class="modal-footer">
				<button type="submit" id="submit" class="btn btn-success">Guardar</button>						        	
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>   
		</form>	           
      </div>      
    </div>
</div>

<!-- ******************MODAL EDITAR HORARIO MIERCOLES********************************-->
<div class="modal" id="modalCargarMiercoles" role="dialog">
  	<div class="modal-dialog modal-md">	
      <!-- Modal content-->
      <div class="modal-content">
        <form class="form" id="formCargarMiercoles">			
	        <div class="modal-body">			
				  	<div class="panel-body">			  		
				  		<div class="row">
							<div class="panel panel-default">	
						    <div class="panel-heading"><label class="checkbox-inline"><input type="checkbox" id="trabajaMananaMiercoles"><strong>¿Trabaja de mañana?</strong> </label></div>
						    
						    <div class="panel-body">
						      	<input type="text" id="rangoMananaMiercoles"/>					        
							</div>
							
							</div>								      		
						</div>

						<div class="row">
							<div class="panel panel-default">
						    <div class="panel-heading"><label class="checkbox-inline"><input type="checkbox" id="trabajaTardeMiercoles"><strong>¿Trabaja de tarde?</strong> </label></div>
						    <div class="panel-body">
						    	<input type="text" id="rangoTardeMiercoles"/>					      	
							</div>
							</div>								      		
						</div>					  			
				  	</div>
	        </div> 
	        <div class="modal-footer">
				<button type="submit" id="submit" class="btn btn-success">Guardar</button>						        	
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>   
		</form>	           
      </div>      
    </div>
</div>

<!-- ******************MODAL EDITAR HORARIO JUEVES********************************-->
<div class="modal" id="modalCargarJueves" role="dialog">
  	<div class="modal-dialog modal-md">	
      <!-- Modal content-->
      <div class="modal-content">
        <form class="form" id="formCargarJueves">			
	        <div class="modal-body">			
				  	<div class="panel-body">			  		
				  		<div class="row">
							<div class="panel panel-default">	
						    <div class="panel-heading"><label class="checkbox-inline"><input type="checkbox" id="trabajaMananaJueves"><strong>¿Trabaja de mañana?</strong> </label></div>
						    
						    <div class="panel-body">
						      	<input type="text" id="rangoMananaJueves"/>					        
							</div>
							
							</div>								      		
						</div>

						<div class="row">
							<div class="panel panel-default">
						    <div class="panel-heading"><label class="checkbox-inline"><input type="checkbox" id="trabajaTardeJueves"><strong>¿Trabaja de tarde?</strong> </label></div>
						    <div class="panel-body">
						    	<input type="text" id="rangoTardeJueves"/>					      	
							</div>
							</div>								      		
						</div>					  			
				  	</div>
	        </div> 
	        <div class="modal-footer">
				<button type="submit" id="submit" class="btn btn-success">Guardar</button>						        	
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>   
		</form>	           
      </div>      
    </div>
</div>

<!-- ******************MODAL EDITAR HORARIO VIERNES********************************-->
<div class="modal" id="modalCargarViernes" role="dialog">
  	<div class="modal-dialog modal-md">	
      <!-- Modal content-->
      <div class="modal-content">
        <form class="form" id="formCargarViernes">			
	        <div class="modal-body">			
				  	<div class="panel-body">			  		
				  		<div class="row">
							<div class="panel panel-default">	
						    <div class="panel-heading"><label class="checkbox-inline"><input type="checkbox" id="trabajaMananaViernes"><strong>¿Trabaja de mañana?</strong> </label></div>
						    
						    <div class="panel-body">
						      	<input type="text" id="rangoMananaViernes"/>					        
							</div>
							
							</div>								      		
						</div>

						<div class="row">
							<div class="panel panel-default">
						    <div class="panel-heading"><label class="checkbox-inline"><input type="checkbox" id="trabajaTardeViernes"><strong>¿Trabaja de tarde?</strong> </label></div>
						    <div class="panel-body">
						    	<input type="text" id="rangoTardeViernes"/>					      	
							</div>
							</div>								      		
						</div>					  			
				  	</div>
	        </div> 
	        <div class="modal-footer">
				<button type="submit" id="submit" class="btn btn-success">Guardar</button>						        	
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>   
		</form>	           
      </div>      
    </div>
</div>

<!-- ******************MODAL EDITAR HORARIO SABADO********************************-->
<div class="modal" id="modalCargarSabado" role="dialog">
  	<div class="modal-dialog modal-md">	
      <!-- Modal content-->
      <div class="modal-content">
        <form class="form" id="formCargarSabado">			
	        <div class="modal-body">			
				  	<div class="panel-body">			  		
				  		<div class="row">
							<div class="panel panel-default">	
						    <div class="panel-heading"><label class="checkbox-inline"><input type="checkbox" id="trabajaMananaSabado"><strong>¿Trabaja de mañana?</strong> </label></div>
						    
						    <div class="panel-body">
						      	<input type="text" id="rangoMananaSabado"/>					        
							</div>
							
							</div>								      		
						</div>

						<div class="row">
							<div class="panel panel-default">
						    <div class="panel-heading"><label class="checkbox-inline"><input type="checkbox" id="trabajaTardeSabado"><strong>¿Trabaja de tarde?</strong> </label></div>
						    <div class="panel-body">
						    	<input type="text" id="rangoTardeSabado"/>					      	
							</div>
							</div>								      		
						</div>					  			
				  	</div>
	        </div> 
	        <div class="modal-footer">
				<button type="submit" id="submit" class="btn btn-success">Guardar</button>						        	
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>   
		</form>	           
      </div>      
    </div>
</div>

<!-- ******************MODAL EDITAR HORARIO DOMINGO********************************-->
<div class="modal" id="modalCargarDomingo" role="dialog">
  	<div class="modal-dialog modal-md">	
      <!-- Modal content-->
      <div class="modal-content">
        <form class="form" id="formCargarDomingo">			
	        <div class="modal-body">			
				  	<div class="panel-body">			  		
				  		<div class="row">
							<div class="panel panel-default">	
						    <div class="panel-heading"><label class="checkbox-inline"><input type="checkbox" id="trabajaMananaDomingo"><strong>¿Trabaja de mañana?</strong> </label></div>
						    
						    <div class="panel-body">
						      	<input type="text" id="rangoMananaDomingo"/>					        
							</div>
							
							</div>								      		
						</div>

						<div class="row">
							<div class="panel panel-default">
						    <div class="panel-heading"><label class="checkbox-inline"><input type="checkbox" id="trabajaTardeDomingo"><strong>¿Trabaja de tarde?</strong> </label></div>
						    <div class="panel-body">
						    	<input type="text" id="rangoTardeDomingo"/>					      	
							</div>
							</div>								      		
						</div>					  			
				  	</div>
	        </div> 
	        <div class="modal-footer">
				<button type="submit" id="submit" class="btn btn-success">Guardar</button>						        	
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>   
		</form>	           
      </div>      
    </div>
</div>
</template>