<template name="profesionalTratamiento">
		<div class="row">
			<div class="col-lg-12"> 
				<a class="btn btn-success btn-md" href="{{ pathFor 'profesionales'}}">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					Volver al listado de profesionales
				</a>
				<hr>
			</div>
		</div>
		<div class="row">		

			<div class="col-lg-6">

			{{#with profesional}}
				<div class="panel panel-success">
				  <div class="panel-heading"><strong><h3>{{nombreApellido}}</h3></strong></div>
				  <div class="panel-body">
				    <p>Especialidad: {{especialidad}}</p>
				  </div>
				</div>

				<!--<div class="panel panel-info">
				  <div class="panel-heading"><h4>Tratamiento de internet</h4></div>
				  <div class="panel-body">
				    {{#if tratamientoDeInternet}}
						<table class="table table-hover">
							
						    <tbody>
						    	
						      <tr>
						        <td>{{tratamientoDeInternet.nombre}}</td>
						        <td><a href="#" class="removerTratamientoInternet"> <button class="btn btn-danger btn-xs">Eliminar</button></a></td>
						      </tr>
						      	
						    </tbody>	
						</table>					
					{{else}}
						<p>Este profesional no tiene tratamiento para mostrar en internet</p>
					{{/if}}
				  </div>
				</div>-->

				<div class="panel panel-info">
				  <div class="panel-heading"><h4>Mis tratamientos</h4></div>
				  <div class="panel-body">
				    {{#if mistratamientos}}
						<table class="table table-hover">
							
						    <tbody>
						    	{{#each mistratamientos}}
						      <tr>
						        <td>{{nombre}}</td>
						        <td><a href="#" class="removerTratamiento"> <button class="btn btn-danger btn-xs">Eliminar</button></a></td>
						      </tr>
						      	{{/each}}        
						    </tbody>	
						</table>					
					{{else}}
						<p>Este profesional no tiene tratamientos</p>
					{{/if}}
				  </div>
				</div>				
				{{/with}}
			</div>
			<div class="col-lg-6">
				<div class="panel panel-info">
				  <div class="panel-heading col-lg-12">
				  	<div class="col-lg-6 col-sm-6"><h4>Agregar tratamiento</h4></div>
				  	<div class="col-lg-6 col-sm-6">{{> EasySearch.Input index=tratamientos attributes=searchAttributes }}</div>				  
				  </div>				  
				  <div class="panel-body">
				    
				   
						<table class="table table-hover">							
						    <tbody>
						    	{{#EasySearch.Each index=tratamientos}}	
						      <tr>
						        <td>{{nombre}}</td>
						        <td><span class="right"><a href="#" class="agregarTratamiento" >
										<i class="btn btn-success btn-xs"> Agregar</i></a>				
									</span>
									{{#if tieneTratamientoInternet}}
										<span class="right"><a href="#" class="agregarTratamientoInternet" >
											<i class="btn btn-info btn-xs"> Internet</i></a>				
										</span>
									{{/if}}
								</td>
								
						      </tr>

						      	{{/EasySearch.Each}}
						    </tbody>	
						</table>			
						

						{{#EasySearch.IfNoResults index=tratamientos}}
							<p>No hay resultados ...</p>
						{{/EasySearch.IfNoResults}}

						{{#EasySearch.IfSearching index=tratamientos}}
							<p>Buscando ...</p>
						{{/EasySearch.IfSearching}}
					
					{{>EasySearch.Pagination index=tratamientos}}
				  </div>
				</div>				
		      		
			</div>	
		</div>
</template>