<template name="pacienteForm">
	<div class="row">
	<div class="col-md-6 col-md-offset-3">

	<div class="panel panel-success">

	  	<div class="panel-heading"><strong><h3>Crear nuevo paciente</h3></strong></div>
	  	<div class="panel-body">		    
		    <div class="col-lg-12">
			    <a class="btn btn-success btn-md" href="{{ pathFor 'pacientes'}}">
			    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					Volver al listado de pacientes
				</a>
		      	<hr />
	      	</div>			
			<div class="col-lg-12">
				<!--{{>quickForm collection=formCollection id="pacienteForm" type="insert"}}-->
				<form class="form" id="formPaciente">			
			        
				  	<div>			  		
					  	<div class="form-group">
						  <label for="nombreApellido">Nombre y Apellido</label>
						  <input type="text" class="form-control" id="nombreApellido">
						</div>
						<div class="form-group">				  
						  <label for="dni">DNI</label>
						  <input type="text" class="form-control" id="dni">
						</div>
						<div class="form-group">
						  <label for="telefono">Teléfono</label>
						  <input type="text" class="form-control" id="telefono">
						</div>
						<div class="form-group">
						  <label for="obra">Obra social</label>
						  <input class="form-control typeahead" name="team" type="text"										       
					       	autocomplete="off" spellcheck="off"
					       	data-source="obras1"
					       	data-select="selecObra"/>
						</div>
						<div class="form-group">
						  <label for="carnet">Carnet de obra social</label>
						  <input type="text" class="form-control" id="carnet">
						</div>						
						<div class="form-group">
						  <label for="direccion">Dirección</label>
						  <input type="text" class="form-control" id="direccion">
						</div>
						<div class="form-group">
						  <label for="localidad">Localidad</label>
						  <input type="text" class="form-control" id="localidad">
						</div>
						<div class="form-group">
						  <label for="provincia">Provincia</label>
						  <input type="text" class="form-control" id="provincia">
						</div>
						<div class="form-group">
						  <label for="email">Email</label>
						  <input type="text" class="form-control" id="email">
						</div>
						<div class="form-group">
						  <label for="profesion">Profesión</label>
						  <input type="text" class="form-control" id="profesion">
						</div>						
						<div class="form-group">
						  <label for="fechaNacimiento">Fecha de Nacimiento</label>
						  <input type="text" class="form-control" id="fechaNacimiento" placeholder="dd-mm-aaaa">
						</div>
						<div class="form-group">
						  <label for="fechaIngreso">Fecha de Ingreso</label>
						  <input type="text" class="form-control" id="fechaIngreso"  placeholder="dd-mm-aaaa">
						</div>												
						<div class="form-group">
						  <label for="descripcion">Descripcion del paciente</label>
						  <textarea class="form-control" rows="5" id="descripcion"></textarea>
						</div>
				  	</div>
					

			        <div class="modal-footer">
						<button type="submit" id="submit" class="btn btn-success">Guardar</button>						        	
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>   
				</form>
			</div>			
		</div>		
	</div>
	</div>
	</div>

</template>