<template name="modalesErrores">

<!--*******************MODAL ERROR HORARIO VALIDO***************************-->
<div class="modal" id="modalHorarioValido" role="dialog">
    <div class="modal-dialog modal-sm">                       
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Debe ingresar un turno en un horario valido</h4>
        </div>  
        <div class="modal-body">
        </div>          
      </div>
  </div>
</div>

<!--******************MODAL ERROR NO INGRESO DE PROFESIONAL*******************-->
<div class="modal" id="modalNoIngresoProfesional" role="dialog">
    <div class="modal-dialog modal-sm">                       
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Debe ingresar un profesional</h4>
        </div>
        <div class="modal-body">
        </div>
      </div>
  </div>
</div>  

<!--******************MODAL ERROR NO INGRESO DE TRATAMIENTO*******************-->
<div class="modal" id="modalNoIngresoTratamiento" role="dialog">
    <div class="modal-dialog modal-sm">                       
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Debe ingresar un tratamiento</h4>
        </div>
        <div class="modal-body">
        </div>
      </div>
  </div>
</div>

<!--******************MODAL ERROR NO INGRESO DE PACIENTE*******************-->
<div class="modal" id="modalNoIngresoPaciente" role="dialog">
  	<div class="modal-dialog modal-sm">										    
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Debe ingresar un paciente</h4>
        </div>
        <div class="modal-body">
        </div>
      </div>
	</div>
</div>		

<!--*******************MODAL ERROR TURNO OCUPADO***************************-->
<div class="modal" id="modalTurnoOcupado" role="dialog">
  	<div class="modal-dialog modal-sm">										    
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">El turno se encuentra ocupado</h4>
        </div>	
        <div class="modal-body">
        </div>		      
      </div>
	</div>
</div>

			
</template>