<template name="baseLayout">
	<nav class="navbar navbar-default">
	  	<div class="container"> 		  		
	  			<ul class="nav navbar-nav">
						
					<!--{{#if currentUser}}	-->
					{{#if isInRole 'adminTotal'}}
						<!--<li><a href="{{ pathFor 'turnos'}}">Turnos</a></li>	-->			
						<li><a href="{{ pathFor 'consultorios'}}">Consultorios</a></li>
						<li><a href="{{ pathFor 'permisos'}}">Permisos</a></li>
						<li><a href="{{ pathFor 'profesionales'}}">Profesionales</a></li>
						<li><a href="{{ pathFor 'tratamientos'}}">Tratamientos</a></li>										
						<li><a href="{{ pathFor 'pacientes'}}">Pacientes</a></li>
						<li><a href="{{ pathFor 'obras'}}">Obras</a></li>
						<li><a href="{{ pathFor 'calendar'}}"><strong>Calendario</strong></a></li>
					{{/if}}	
					{{#if isInRole 'adminConsultorio'}}						
						<li><a href="{{ pathFor 'horarios'}}">Horarios</a></li>
						<li><a href="{{ pathFor 'profesionales'}}">Profesionales</a></li>
						<li><a href="{{ pathFor 'tratamientos'}}">Tratamientos</a></li>										
						<li><a href="{{ pathFor 'pacientes'}}">Pacientes</a></li>
						<li><a href="{{ pathFor 'obras'}}">Obras</a></li>
						<li><a href="{{ pathFor 'calendar'}}"><strong>Calendario</strong></a></li>
					{{/if}}
					{{#if isInRole 'turnos'}}																					
						<li><a href="{{ pathFor 'pacientes'}}">Pacientes</a></li>						
						<li><a href="{{ pathFor 'calendar'}}"><strong>Calendario</strong></a></li>
					{{/if}}
					{{#if isInRole 'profesional'}}																											
						<li><a href="{{ pathFor 'calendar'}}"><strong>Calendario</strong></a></li>
					{{/if}}					
					{{#if isInRole 'internet'}}																											
						<li><a href="{{ pathFor 'misdatos'}}"><strong>Mis Datos</strong></a></li>
						<li><a href="{{ pathFor 'sacarturno'}}"><strong>Turno</strong></a></li>
					{{/if}}					
						
				</ul>
				<ul class="nav navbar-nav navbar-right">
			      
			      <li><a href="#">{{> loginButtons}}</a></li>
			      <div class="navbar-header">
				      <a href="{{ pathFor 'calendar'}}" class="navbar-brand">TURNOS</a>
				  </div>			      
			      
			    </ul>
			
		</div>
	</nav>
	<div class="container">
		{{> yield}}	
	</div>
	<!--<div class="container">-->
	<!--{{#if isInRole 'adminTotal'}}
		<div class="container">
			{{> yield}}	
		</div>
	{{else}}
		{{#if isInRole 'adminConsultorio'}}
			<div class="container">
				{{> yield}}	
			</div>
		{{else}}
			{{#if isInRole 'turnos'}}
				<div class="container">
					{{> yield}}	
				</div>
			{{else}}
				{{#if isInRole 'profesional'}}
					<div class="container">
						{{> yield}}	
					</div>
				{{else}}
					{{#if isInRole 'internet'}}
						<div class="container">
							
							{{> yield}}
							
						</div>

					{{else}}
						
						<div class="container">
							{{> yield}}	
						</div>
						
					{{/if}}
				{{/if}}
			{{/if}}
		{{/if}}
	{{/if}}-->
</template>
