<template name="turnos">
	<div class="row">
		<div class="col-lg-12">
		<h2>Lista de turnos</h2>

		<!--<a class="btn" href="{{ pathFor 'turno_form'}}">--> 
		<a class="btn btn-success btn-md" href="{{ pathFor 'turno_form'}}">
			Añadir nuevo turno

		</a>
		</div>
		<div class="col-lg-12">
      		{{> EasySearch.Input index=turnos attributes=searchAttributes }}
		</div>
		<!--<ul class="collection with-header">					
			<li class="collection-item">-->
				<table class="table table-hover">
					<thead>
				      <tr>
			          	<th class="#80cbc4 teal-text">ID</th>
			          	<th class="#80cbc4 teal-text">NOMBRE Y APELLIDO</th>
			          	<th class="#80cbc4 teal-text">INICIO</th>			          	
			          	<th class="#80cbc4 teal-text">FIN</th>			          	
			          	<th class="#80cbc4 teal-text">DURACION</th>
			          	<th class="#80cbc4 teal-text">CONSULTORIO</th>
			          	<th class="#80cbc4 teal-text">ESTADO</th>
			          	<th class="#80cbc4 teal-text">ACCION</th>
				      </tr>
				    </thead>
				    <tbody>
				    	{{#EasySearch.Each index=turnos}}	
				      <tr>
				        <td>{{_id}}</td>
				        <td>{{profesional.nombreApellido}}</td>
				        <td>{{formatDate inicio}}</td>
				        <td>{{formatDate fin}}</td>
				        <td>{{duracion}} min</td>
				        <td>{{consultorio}}</td>
				        <td>{{estado}}</td>
				        <td>{{>turno_links}}</td>
				      </tr>
				      	{{/EasySearch.Each}}
				    </tbody>	
				</table>			
			<!--</li>			-->
			

			{{#EasySearch.IfNoResults index=turnos}}
				<p>No hay resultados</p>
				<!--<li class="collection-itel">No hay resultados ...</li>-->
			{{/EasySearch.IfNoResults}}

			{{#EasySearch.IfSearching index=turnos}}
				<p>Buscando ...</p>
				<!--<li class="collection-itel">Buscando ...</li>-->
			{{/EasySearch.IfSearching}}
		<!--</ul>-->
		{{>EasySearch.Pagination index=turnos}}
	</div>
</template>