<template name="turno_links">
	<span class="right">
		<a href="#" class="remove">
			<i>Eliminar</i>
		</a>
		<a 	style="margin-left: 20px" 
			href="{{ pathFor 'turno_tratamiento' _id=_id}}"
			class="secondary-content">
			<i>Agregar tratamiento</i>		
		</a>
		<!--<a href="{{ pathFor 'turno_tratamiento' _id=_id}}">
			<i> / AGREGAR HORA /</i>
		</a>-->
		<!--<a 	style="margin-left: 20px" 
			href="{{ pathFor 'profesional_detail' _id=_id}}"
			class="secondary-content">
			<i>Detalle</i>		
		</a>-->		
	</span>
</template>