<template name="permisos">

<!-- ******************MODAL EDITAR ROL********************************-->
<div class="modal" id="modalPermisoEditar" role="dialog">
  	<div class="modal-dialog modal-md">										    

      <!-- Modal content-->
      <div class="modal-content">
        <form class="form" id="formModificarPermiso">			
        <div class="modal-body">
			<div class="panel panel-warning">
			  	<div class="panel-heading">
			  		<button type="button" class="close" data-dismiss="modal">&times;</button>          
			  		<h3>Editar Permiso</h3>
			  	</div>					  	
			  	<div class="panel-body">
			  		

					  	<div class="form-group">
						  <label for="usr">Nombre</label>
						  <input type="text" class="form-control" id="nombre" value={{permisoEditar.nombre}}>
						</div>											
						<div class="form-group">
						  <label for="usr">Descripcion del permiso</label>
						  <textarea class="form-control" rows="5" id="descripcion" value={{permisoEditar.descripcion}}></textarea>
						</div>
						
					
			  	</div>
			</div>
        </div> 

        <div class="modal-footer">
			<button type="submit" id="submit" class="btn btn-success">Guardar</button>						        	
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		</div>   
		</form>	       
          
      </div>
      
    </div>
</div>

<!-- ********************** MODAL ELIMINAR ROL *********************-->
<div class="modal" id="modalEliminarPermiso" role="dialog">									  	
  	<div class="modal-dialog modal-md">										    

      <!-- Modal content-->
      <div class="modal-content">
      	
        
        <div class="modal-body">
			<div class="panel panel-danger">
			  	<div class="panel-heading">
			  		<button type="button" class="close" data-dismiss="modal">&times;</button>          
			  		<h3>¿Desea eliminar el permiso?</h3>
			  	</div>					  	
			  	<div class="panel-body">
			  		<table class="table table-hover">
				  		<thead>
					      <tr>
				          	<th class="col-xs-4"></th>
				          	<th class="col-xs-8"></th>	                    
					      </tr>
					    </thead>				
					    <tbody>
					      <tr>
					      	<td><strong><p>Nombre</p></strong></td>
					      	<td>{{permisoEliminar.nombre}}</td>
					      </tr>		    						      	      						      			      
					    </tbody>	
					</table>  		
			  	
			    
			  	</div>
			</div>
        </div>
        <div class="modal-footer">
          	<button class="_remove btn btn-danger">Eliminar</button>
		    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
</div>

<!-- ********************** MODAL INFO DEL PERMISO *********************-->
<div class="modal" id="modalPermisoInfo" role="dialog">									  	
  	<div class="modal-dialog modal-md">										    

      <!-- Modal content-->
      <div class="modal-content">
      	
        
        <div class="modal-body">
			<div class="panel panel-info">
			  	<div class="panel-heading">
			  		<button type="button" class="close" data-dismiss="modal">&times;</button>          
			  		<h3>Información del permiso</h3>
			  	</div>					  	
			  	<div class="panel-body">
			  		<table class="table table-hover">
				  		<thead>
					      <tr>
				          	<th class="col-xs-4"></th>
				          	<th class="col-xs-8"></th>	                    
					      </tr>
					    </thead>				
					    <tbody>
					      <tr>
					      	<td><strong><p>Nombre</p></strong></td>
					      	<td>{{permisoInfo.nombre}}</td>
					      </tr>				       					     
					      			      
					    </tbody>	
					</table>
			  		<div class="form-group">
					  <label for="usr">Descripcion del consultorio</label>
					  <textarea disabled class="form-control" rows="5" id="descripcion" value={{permisoInfo.descripcion}}></textarea>
					</div> 
			  	
			    
			  	</div>
			</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
</div>



<!--********************************************************************************************************************-->
	<div class="panel panel-success">
	  	<div class="panel-heading"><strong><h3>Lista de permisos</h3></strong></div>
	  	<div class="panel-body">		    
		    <div class="col-lg-12">
			    <a class="btn btn-success btn-md" href="{{ pathFor 'permiso_form'}}">
					Añadir nuevo permiso
				</a>					
		      		{{> EasySearch.Input index=permisos attributes=searchAttributes }}
		      		<hr />
	      	</div>			
			<div class="col-lg-12">
				<table class="table table-hover">
					<thead>
				      <tr>
			          	<th class="#80cbc4 teal-text">NOMBRE</th>
			          	<th class="#80cbc4 teal-text">DESCRIPCION</th>
	                    <th class="#80cbc4 teal-text"></th>
				      </tr>
				    </thead>
				    <tbody>
				    	{{#EasySearch.Each index=permisos}}	
				      <tr>
				        <td>{{nombre}}</td>
				        <td>{{descripcion}}</td>
				        <td>
				        	<span class="right">									
							<a href="{{ pathFor 'permiso_usuario' _id=_id}}" class="btn btn-success btn-xs">+ Usuario</a>
							<a href="#"	class="modalPermisoInfo btn btn-info btn-xs">Detalle</a>
							<a href="#" class="modalPermisoEditar btn btn-warning btn-xs">Editar</a>
							<a href="#" class="modalRemovePermiso btn btn-danger btn-xs">Eliminar</a>								
							</span>
						</td>
				      </tr>
				      	{{/EasySearch.Each}}
				    </tbody>	
				</table>						

				{{#EasySearch.IfNoResults index=permisos}}
					<p>No hay resultados ...</p>
				{{/EasySearch.IfNoResults}}

				{{#EasySearch.IfSearching index=permisos}}
					<p>Buscando ...</p>
				{{/EasySearch.IfSearching}}
			
				{{>EasySearch.Pagination index=permisos}}
			</div>			
		</div>		
	</div>

</template>